{{#each foods as |food| }}
<div class="project-box">
  <div class="box-header">
    <h2>{{food.food_name}}</h2>
    <img src={{food.image}} alt="">

    <p>{{food.cuisine}}</p>
     <div class="username">
      <a href="/user/{{food.user_id}}">{{food.user.name}}</a>
      <a href="/user/{{food.user_id}}">{{food.user.username}}</a>
    </div>
    <p>{{format_date food.date_created}}</p>
    
  </div>
  <div class="box-description">
    <p>{{food.description}}</p>
    <p>{{food.ingredients}}</p>
    <p>{{food.cook_time}}</p>
  </div>
    {{#if comments.length}}
  {{#each comments as |comment| }}
   <div class="comment-section">
    <p>{{comment.username}}</p>
    <p>{{comment.comment}}</p>
    
  </div>
  {{/each}}
</div>
{{/if}}
  
</div>
{{/each}}