{{#each foods as |food| }}
<div class="project-box">
  <div class="box-header">
    <h2>{{food.food_name}}</h2>
    <p>{{format_date food.date_created}}</p>
    <img src={{food.image}} alt="">


     <div class="username">
      <a href="/user/{{food.user_id}}">{{food.user.name}}</a>
      <a href="/user/{{food.user_id}}">{{food.user.username}}</a>
    </div>
  </div>
  <div class="box-description">
    <p>Cuisine: {{food.cuisine}}</p>
    <p>Description: {{food.description}}</p>
    <p>Ingredients: {{food.ingredients}}</p>
    <p>Cook time: {{food.cook_time}}</p>
  </div>
    {{#if comments.length}}
    <div class="comment-section">
      <h3>Comments</h3>
        {{#each comments as |comment| }}
        <div class="comment">
            <a href="/user/{{comment.user_id}}">{{comment.username}}</a>
    <p>{{comment.comment}}</p>
        </div>
    {{/each}}
  
  </div>
{{/if}}
  
{{/each}}