<div class="row">
  <div class="col-auto">
    <h2 class="welcome">{{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form">
      <div class="form-group">
        <label for="post-name">Food name:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>
      <div class="form-group">
        <label for="post-cuisine">Cuisine:</label>
        <input class="form-input" type="text" id="post-cuisine" name="post-cuisine" />
      </div>
      <div class="form-group">
        <label for="post-ingrediants">Ingredients:</label>
        <input class="form-input" type="text" id="post-ingrediants" name="post-ingrediants" />
      </div>
      <div class="form-group">
        <label for="post-cooktime">Cook Time:</label>
        <input class="form-input" type="text" id="post-cooktime" name="post-cooktime" />
      </div>
      <div class="form-group">
        <label for="post-desc">Description:</label>
        <input class="form-input" type="text" id="post-desc" name="post-desc" />
      </div>
    </form>
     <button id="upload_widget" class="cloudinary-button">Upload Picture</button>
     <button id='create' type="submit" class="btn btn-primary">Create</button>
  </div>

  {{#if food.length}}
  <div class="col-md-6 project-list">
    <h3>Posts:</h3>

    {{#each food as |foods| }}
<div class="project-box">
  <div class="box-header">
    <h2>{{foods.food_name}}</h2>
    <img src={{foods.image}} alt="">
     <div id={{foods.user_id}} class="username">
      <p>{{foods.user.name}}</p>
      <p>{{foods.user.username}}</p>
    </div>
    <p>{{food.cuisine}}</p>
  </div>
  <div class="box-description">
    <p>{{foods.description}}</p>
    <p>{{foods.ingredients}}</p>
    <p>{{foods.cook_time}}</p>
    <p>{{format_date foods.date_created}}</p>
    <button class="btn btn-sm btn-danger" data-id="{{foods.id}}">DELETE</button>
  </div>
</div>
{{/each}}
  </div>
  {{/if}}
</div>

<script src="https://widget.cloudinary.com/v2.0/global/all.js"></script>
<script src="./js/profile.js"></script>

