<h2>{{name}}</h2>
  {{#if food.length}}
{{#each food as |foods| }}
<div class="user-food">
    <img src="" alt="">
        <ul class="food-items">
            <li id="food-name">{{foods.food_name}}</li>
            <li id="cuisine">{{foods.cuisine}}</li>
            <li id="ingredients">{{foods.ingredients}}</li>
            <li id="date">{{format_date foods.date_created}}</li>
            <li id="cook-time ">{{foods.cook_time}}</li>
        </ul>

</div>
{{/each}}
{{else}}
<div class="empty-post">
  <h3>This user has no posts</h3>
  </div>
  {{/if}}
  
  