<p>{{name}}</p>
  {{#if food.length}}
{{#each food as |foods| }}
<div class="">
    <img src="" alt="">
  <p>{{foods.food_name}}</p>
  <p>{{foods.cuisine}}</p>
  <p>{{foods.ingredients}}</p>
  <p>{{format_date foods.date_created}}</p>
  <p>{{foods.cook_time}}</p>

</div>
{{/each}}
{{else}}
<div class=""><p>This user has no posts</p></div>
  {{/if}}
  