<h4>{{name}}</h4>
<h4>{{username}}</h4>
{{#if food.length}}
  <div class="col-md-6 project-list">
    <h3>Posts:</h3>

    {{#each food as |foods| }}
<div class="project-box">
  <div class="box-header">
    <h2>{{foods.food_name}}</h2>
    <img src={{foods.image}} alt="">
    <p>{{food.cuisine}}</p>
  </div>
  <div class="box-description">
    <p>{{foods.description}}</p>
    <p>{{foods.ingredients}}</p>
    <p>{{foods.cook_time}}</p>
    <p>{{format_date foods.date_created}}</p>
  </div>
</div>
{{/each}}
  </div>
  {{/if}}
</div>